
@media only screen and (max-width: 400px) {
  body {
    background-color: transparent;
  }
  h1 {
    color: #597372;
    font-family: "futura";
    font-size: 40px;
    text-align: center;
}
    .image-txt-container {
      display: block;
      align-items: center;
     text-align: center;
   }
   img{
     border-radius: 300px
   }
   a.button2 {
     display: none;


   }
   .dropbtn {
  background-color:#DAD1C2 ;
  color: white;
  padding: 10px;
  font-size: 15px;
  border:white;
  border-radius: 100px;
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;

}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 160px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content a:hover {background-color: #B79182}


.dropdown:hover .dropdown-content {
  display: block;
}


.dropdown:hover .dropbtn {
  background-color: #B79182;

   }
h2 {
text-indent: 5px;
  color: #849994;
  font-weight: 300;
  font-family: "Futura";
  font-size: 30px;
}
p {
  color: #D39F8A;
  font-family:"avenir";
  font-size: 15px;
}

}





@media screen and (min-width: 400px) {
  body {
    background-color: transparent;
  }

.dropdown{
  display: none;
}
h1 {
  color: #597372;
text-indent: 25px;
  bottom: 20px;
  font-family: "futura";
  font-size: 80px;

   }
h2 {
text-indent: 5px;
  color: #849994;
  font-weight: 300;
  font-family: "Futura";
  font-size: 50px;
}
#Header {
  padding: 10px 0;
  text-align: center;
}
.aboutme {
  margin-left: auto;
    margin-right: auto;
    width: 40em
}

p {
  color: #D39F8A;
  font-family:"avenir";
  font-size: 25px;
}

img{
  border-radius: 300px
}

hr {
  border-top: 2px solid #849994;
}

.image-txt-container {
  display: flex;
  align-items: center;

}
.grid-container {
  display: inline-flex;
  flex-flow: row wrap;


}
.grid-container > div {
  margin: 6px;
}

a.button2 {
  background-color: #DAD1C2;
font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: ;
  border-radius: 10px;
  font-size: 17px;
  transition-duration: 0.4s;
  text-transform: uppercase;
}
  .button2:hover {
    background-color: #F1D7CD;
  }
  .button2:active {
    background-color: #B79182;
  }
  .dropdown {
    display: none;
  }}
